div.copyright {
  font-weight: bold;
  color: #FCB297;
  padding: 0.3em 0.5em;
  margin: 0 0 1em 0;
  border-bottom: none;
  background-color: #AAD2F0;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em; }

div.article-footer-copyright {
  margin-top: 2em;
  padding: 1.5em;
  background-color: #f7f8f8; }

.article-footer-copyright {
  margin: 20px auto;
  border: 1px solid #d3d3d3;
  padding-left: 2em;
  border-top: 2px solid #767676;
  border-radius: 0.28571429rem;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15); }

.article-footer-copyright a {
  color: #01579f;
  word-break: break-all;
  padding-bottom: 2px; }

.article-footer-copyright p {
  font-size: 1.2em; }

.article-footer-copyright span, .copyright abbr {
  color: #3d3d3d; }

.article-footer-copyright p {
  margin: 10px;
  font-size: 100%; }
